@model CyberCity.Models.AdminViewModel
@using Newtonsoft.Json;
@using Newtonsoft.Json.Serialization;
@using CyberCity.Utils

@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";


    var strUsers = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Users, new JsonSerializerSettings
    {
        ContractResolver = new CamelCasePropertyNamesContractResolver()
    });
}


<div id="admin-page">
    <div class="toolbar clearfix">
        <button id="remove-packages" class="btn btn-danger">Удалить все пакеты</button>
    </div>
    <div id="user-list"></div>
    <div id="packages"></div>
</div>

<script>
    $(document).ready(() => {
        const users = @Html.Raw(strUsers);

        const onlineList = new OnlineList({
            users,
            host: $('#user-list'),
        })

        const client = new NetClient({
            host: '#packages',
            hubUrl: 'http://@Context.Request.Host/net',
            onRecievePackage: (packate) => {

            },
            onUpdateOnlineList: (users) => {
                onlineList.updateUsers(users);
            }
        });

        $('#remove-packages').click(() => {
            axios.delete('/api/network/delete-all-packages').then(() => {
                client.packagesList.packages = [];
            });
        });

    })
</script>
