@model CyberCity.Models.AdminViewModel
@using Newtonsoft.Json;
@using Newtonsoft.Json.Serialization;
@using CyberCity.Utils

@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";


    var strUsers = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Users, new JsonSerializerSettings
    {
        ContractResolver = new CamelCasePropertyNamesContractResolver()
    });
}


<div id="admin-page">
    <div id="user-list"></div>
    <div id="packages"></div>
</div>

<script>
    $(document).ready(() => {
        const users = @Html.Raw(strUsers);

        const onlineList = new OnlineList({
            users,
            host: $('#user-list'),
        })

        const client = new NetClient({
            host: '#packages',
            hubUrl: 'http://@Context.Request.Host/net',
            onRecievePackage: (packate) => {

            },
            onUpdateOnlineList: (users) => {
                onlineList.updateUsers(users);
            }
        })
    })
</script>
