html {
    height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    height: 100%;
}

.container {
    height: calc(100% - 51px);
}

.login-page, .register-page {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form, .register-form {
    background: #9bd3c8;
    color: #fdfdfd;
    width: 350px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.bottom-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
}


.online-users {
}

.online-user {
}

.online-user__status {
    width: 40px;
}

.online-user__status::after {
    margin: auto;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: gray;
}

.online-user__status--online::after {
    background-color: green;
    content: "";
}

.online-user__status--offline::after {
    background-color: red;
    content: "";
}

.navbar-header {
    margin-left: 5px;
    width: 100%;
}

.btn-sign-out {
    float: right;
}

.toolbar {
    padding: 10px;
    background: #cbe3b5;
    border: 1px solid #ddd;
    color: #fdfdfd;
    margin: 10px 0px;
}

#remove-packages {
    float: right;
}

.city-panel {
    background-color: #9bd3c8;
    border-color: #fdfdfd;
}

.navbar-brand {
    color: #fdfdfd;
}

.home-table{
    margin:10px;
}

.control-panel{
    padding:5px;
    margin:10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.svg-icon{
    color:white;
}

.brand-panel {
    padding: 10px;
    background: #cbe3b5;
    border: 1px solid #ddd;
    color: #fdfdfd;
    margin: 10px 0px;
    display:flex;
    flex-direction: row;
}

.brand-panel img{
    margin-right:10px;
}

.brand-panel h3 {
    font-weight:bold;
}