html {
    height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    height: 100%;
}

.container {
    height: calc(100% - 51px);
}

.login-page, .register-page {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form, .register-form {
    width: 350px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.bottom-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


.online-users {
}

.online-user {
}

.online-user__status {
    width: 40px;
}

.online-user__status::after {
    margin: auto;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: gray;
}

.online-user__status--online::after {
    background-color: green;
    content: "";
}

.online-user__status--offline::after {
    background-color: red;
    content: "";
}


.page {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.page__log {
    flex: 1;
}

.page__content {
    flex: 2;
}

.navbar-header {
    margin-left: 5px;
    width: 100%;
}

.btn-sign-out {
    float: right;
}

.toolbar {
    padding: 10px;
    background: #eee;
    border: 1px solid #ddd;
}

#remove-packages {
    float: right;
}