@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div id="log"></div>
</div>

<script>
    $(document).ready(() => {
        new NetClient({
            hubUrl: 'http://@Context.Request.Host/net',
            onRecieve: (packate) => {

            },
            onUpdateOnlineList: (users) => {

            }
        })
    })
</script>
