@{
    ViewBag.Title = "Подстанция";
}
<div class="brand-panel">
    <img src="~/images/svg-icon/substation.svg" alt="Alternate Text" width="50" height="50"/>
    <h3>Подстанция</h3>
</div>


<div id="reactor-page">
    <arduino-panel url="@ViewBag.ArduinoUrl"></arduino-panel>
    <div class="Use_Reactor control-panel col-md-5">
        <p>Управление Подстанцией:</p>
        <label>Состояние реле:</label> {{labelReleState}}
        <br />
        <label>Сирена: </label> {{labelSirenState}}
        <br />
        <label>Мощность: </label> {{power}}
        <br />
        <button class="btn  btn-info" v-on:click="OnRele">
            <span class="glyphicon glyphicon-arrow-down"></span> Включить реле
        </button>
        <button class="btn  btn-info" v-on:click="OffRele">
            <span class="glyphicon glyphicon-arrow-up"></span> Выключить реле
        </button>
        <button class="btn btn-primary" v-on:click="UpdateData">Обновить данные</button>
    </div>
    <br />
  
</div>

<script>
    var nuclearStationModel = new Vue({
        el: '#reactor-page',
        data: {
            power: 0,
            stateRele: false,
            stateSiren: false
        },
        computed: {
            labelReleState: {
                get: function () {
                    return this.stateRele ? "Реле включено" : "Реле выключено";
                }
            },
            labelSirenState: {
                get: function () {
                    return this.stateSiren ? "Сирена ключена" : "Сирена выключена";
                }
            }
        },
        methods: {
            UpdateData: () => {
                axios.get("/api/substation/state")
                    .then(response => {
                        const value = response.data;

                        this.power = value.Power;
                        this.stateRele = value.stRele;
                        this.stateSiren = value.stSiren;
                    });
            },
            OnRele: () => {
                var flag = true;
                axios.put("/api/substation/rele?flag=" + flag)
                    .then(response => {
                        console.log("Реле включено. Состояние:" + flag)
                    })
            },
            OffRele: () => {
                var flag = false;
                axios.put("/api/substation/rele?flag=" + flag)
                    .then(response => {
                        console.log("Реле выключено. Состояние:" + flag)
                    });
            }
        }
    })
</script>
<script>
    $(document).ready(() => {
        new NetClient({
            host: '#log',
            hubUrl: 'http://@Context.Request.Host/net',
            onRecievePackage: (packate) => {
            },
            onUpdateOnlineList: (users) => {

            },
            onStateChanged: (state) => {
                console.log(state);
                nuclearStationModel.power = state.power;
                nuclearStationModel.stateRele = state.stRele;
                nuclearStationModel.stateSiren = state.stSiren;
            }
        })
    })
</script>
