
@{
    ViewData["Title"] = "Аэропорт";
}

<div class="brand-panel">
    <img src="~/images/svg-icon/air.svg" alt="Alternate Text" width="50" height="50"/>
    <h3>Аэропорт</h3>
</div>

<div>
    <div class="control-panel col-md-3">
        <h4>Состояние самолета:</h4>
        <div id="state"></div>
        <h4>Свет на взлетной полосе:</h4>
        <div id="lightState"></div>
        <h4>Список пассажиров</h4>
        <ul id="passangers"></ul>
        <img src="~/images/TravelAirplane.png" width="200px" />
    </div>
    <div class="col-md-8">
        <div id="log"></div>
    </div>

</div>


<script>
      function getFlight() {
        $.ajax({
            url: 'http://@Context.Request.Host/Airport/GetAll',
            type: 'GET',
            contentType: "application/json",
            success: function (data) {
                var state = getStringState(data.flightState);
                var lightState = getStringLightState(data.lightState);
                $('#state').text(state);
                $('#lightState').text(lightState)
                var passangers = "";
                $.each(data.passengers,
                    function (index, passenger) {
                        passangers += getRow(passenger);
                    });
                $("#passangers").append(passangers);
            }
        });
    }

    function getStringState(state) {
        switch (state) {
            case 0: return "Улетел";
            case 1: return "Прилетел";
            case 2: return "Не отправлен";
            case 3: return "Не посажен";
            case 4: return "Авария";
            default: return "Неизвестное состояние"
        }
    }

    function getStringLightState(state) {
        switch (state) {
            case 0: return "Включен";
            case 1: return "Выключен";
            default: return "Неизвестное состояние"
        }
    }

    function getRow(passanger) {
        return "<ol>" + passanger.id +" "+  passanger.name + "</ol>"
    }

    getFlight()
</script>
<script>
    $(document).ready(() => {
        new NetClient({
            host: '#log',
            hubUrl: 'http://@Context.Request.Host/net',
            onRecievePackage: (packate) => {
            },
            onUpdateOnlineList: (users) => {

            },
            onStateChanged: (state) => {
                getFlight();
            }
        })
    })
</script>


