@{
    ViewBag.Title = "Муниципалитет";
}

<div class="brand-panel">
    <img src="~/images/svg-icon/gov.svg" alt="Alternate Text" width="50" height="50" />
    <h3>Муниципалитет</h3>
</div>

<img src="~/images/thumbnail.jpg"  width="700" height="500" alt="Alternate Text" />
