<style>
    .body-content {
        background: #000;
        color: #127801;
    }
</style>

<div class="brand-panel hacker-theme">
    <img src="~/images/svg-icon/hacker.svg" alt="Alternate Text" width="50" height="50" />
    <h3>Хакер</h3>
</div>

<div id="hacker-page">
    <div class="form-group control-panel col-md-5">
        <label for="package">Пакет данных</label>
        <textarea class="form-control hacker-theme" rows="5" id="package"></textarea>
        <button id="send-package" class="btn hacker-theme">Отправить</button>
    </div>
    <div class="col-md-5">
        <div id="log"></div>
    </div>
</div>
<script>
    $(document).ready(() => {
        new NetClient({
            host: '#log',
            hubUrl: 'http://@Context.Request.Host/net',
            onRecievePackage: (packate) => {
            },
            onStateChanged: (state) => {
            }
        });

        $('#send-package').click(() => {
            const strPackage = $('#package').val();
            const package = isJson(strPackage) ? JSON.parse(strPackage) : null;

            axios.post('/api/network/send-package', package);
        });

        function isJson(str) {
            try {
                JSON.parse(str);
                return true;
            } catch{
                return false;
            }
        }
    })

</script>