<div id="tableBlock"></div>
<div id="editBlock">
    <center><b></b>БАНК ГОРОДА</b></center>
    <hr />
    <center>  <p><a href="/Home/Enter">Войти в личный кабинет </a></p></center><br>
    <center> <img src="~/fonts/%d0%91%d0%b0%d0%bd%d0%ba.jpg" /></center><br>
</div>