
@{
    ViewBag.Title = "Вход в систему";
}

<ul class="pager" style="text-align: left;">
    <li class="btn btn-lg"><a href="/Bank/Enter">Назад</a></li>
</ul>

<div id="editBlock" class="login-page">

    <form method="post" class="login-form">
        <h2 style="text-align: center">Вход в личнфй кабинет</h2>

        <hr />

        <input type="hidden" value="-" name="PersonId" />
        <input type="hidden" value="-" name="Surname" />
        <input type="hidden" value="-" name="Name" />
        <input type="hidden" value="-" name="Patronymic" />
        <input type="hidden" value="-" name="Money" />
        @*<center>
                <p>
                    Введите логин
                    <input id="Text1" type="text" name="Login" required class="form-control" />
                </p>
            </center><br>*@
        @*<center>
                <p>
                    Введите пароль
                    <input class="form-control" />
                </p>
            </center><br>*@

        <div class="form-group">
            <span>
                Логин
                <input id="Text1" type="text" name="Login" required class="form-control" />
            </span>
        </div>

        <div class="form-group">
            <span>
                Пароль
                <input id="Password1" type="password" name="password" required class="form-control" id="basic-url" aria-describedby="basic-addon3">
            </span>
        </div>

        <div class="bottom-panel form-group">
            <p><input id="Submit2" type="submit" value="Войти" class="btn btn-primary" /></p>
        </div>

    </form>
</div>

