
@{
    ViewBag.Title = "Вход в систему";
}
<div class="brand-panel">
    <img src="~/images/svg-icon/bank.svg" alt="Alternate Text" width="50" height="50" />
    <h3>Банк Города / Вход в систему</h3>
</div>
<ul class="pager" style="text-align: left;">
    <li class="btn btn-lg"><a href="/Bank/Enter">Назад</a></li>
</ul>

<div id="editBlock" class="login-page">

    <form method="post" class="login-form">
        <h2 style="text-align: center">Вход в личный кабинет</h2>

        <hr />

        <input type="hidden" value="-" name="PersonId" />
        <input type="hidden" value="-" name="Surname" />
        <input type="hidden" value="-" name="Name" />
        <input type="hidden" value="-" name="Patronymic" />
        <input type="hidden" value="-" name="Money" />

        <div class="form-group">
            <span>
                Логин
                <input id="Text1" type="text" name="Login" required class="form-control" />
            </span>
        </div>

        <div class="form-group">
            <span>
                Пароль
                <input id="Password1" type="password" name="password" required class="form-control" id="basic-url" aria-describedby="basic-addon3">
            </span>
        </div>

        <div class="bottom-panel form-group">
            <p><input id="Submit2" type="submit" value="Войти" class="btn btn-primary" /></p>
        </div>

    </form>
</div>

