<div id="tableBlock"></div>
<div id="editBlock">
    <center>
        <b>БАНК ГОРОДА</b>
    </center>
    <hr />
    <center>
        <p>
            <a href="/Bank/Enter">Войти в личный кабинет </a>
        </p>
    </center>
    <br>
    <center>
        <img src="~/images/Bank/bank.jpg" />
    </center>
    <br>
</div>