<div id="tableBlock"></div>
<div id="editBlock">
    <div class="brand-panel">
        <img src="~/images/svg-icon/bank.svg" alt="Alternate Text" width="50" height="50" />
        <h3>Банк Города</h3>
    </div>
    <hr />
    <center>
        <p>
            <a class="btn btn-primary" href="/Bank/Enter">Войти в личный кабинет </a>
        </p>
    </center>
</div>