
@{
    ViewBag.Title = "Регистрация";
}

<div id="editBlock">
    <form method="get">
        <ul class="pager" style="text-align: left;">
            <li class="btn btn-lg"><a href="/Bank/Enter">Назад</a></li>
        </ul>

        <center><b>Регистрация в системе</b></center>
    </form>
    <hr />
    <form method="post">
        <input type="hidden" value="@ViewBag.PersonId" name="PersonId" />
        <center>
            <p>
                Введите фамилию
                <input id="Text1" type="text" name="Surname" required />
            </p>
        </center><br>
        <center>
            <p>
                Введите имя
                <input id="Text2" type="text" name="Name" required />
            </p>
        </center><br>
        <center>
            <p>
                Введите отчество
                <input id="Text3" type="text" name="Patronymic" required />
            </p>
        </center><br>
        <center>
            <p>
                Введите номер дома, в котором Вы проживаете
                <input id="Text4" type="number" name="Home" min="1" max="4" required />
            </p>
        </center><br>
        <center>
            <p>
                Введите логин
                <input id="Text5" type="text" name="Login" required />
            </p>
        </center><br>
        <center>
            <p>
                Введите пароль
                <input id="Password1" type="password" name="Password" required />
            </p>
        </center><br>

        <center> <p><input id="Submit1" type="submit" value="Зарегистрироваться" /></p></center>
    </form>

    <input type="hidden" value=0 name="Money" />
    <input type="hidden" value=0 name="MoneyInCourse" />
    <input type="hidden" value=0 name="Debt" />
</div>